@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

*{
    color: black;
    font-family: Questrial;
    text-align: center;
}

h1{
    color: #9a9a9a;
    text-align: center;
    margin-top: 7%;
    font-family: Questrial;
}

.container{
    margin-top: 3%;
    /*margin-left: 8%;*/
}

table{
    text-align: center;
}

input{
    width: 50%;
}

button{
    color: white;
    padding: 1vh 5vh;
    cursor: pointer;
    background: black;
    font-size: 2vh;
    border: 1px solid white;
    width:10%;
    margin: 0;
    text-decoration: none;
    font-family: Questrial;
}

button:hover{
    background: #313131;
    color: black;
    border: 1px solid white;
    -webkit-transition: ease-in-out 0.9s;
    transition: ease-in-out 0.9s;
}

.table thead th{
    vertical-align: middle;
}

.table td{
    vertical-align: middle;
}

/**, ::after, ::before {*/
/*    box-sizing: unset;*/
/*}*/

.formulario_alta{
    margin-top: 100px;
    margin-left: 40%;
    margin-right: 40%;
}

.formulario_alta input{
    width: 100%;
}

*, ::after, ::before{
    box-sizing: unset;
}