<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Insert title here</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/inicio.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/css/styles.css}" rel="stylesheet" id="bootstrap-css" />-->
</head>

<body style="background-color: black">

    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                        <form id="login-form" style="color: black" class="form">

                            <h1 style="color: #2f2f2f">¿Qué desea hacer?</h1>
                            <hr></hr>

                            <div class="form-group" style="text-align:center; font-family: Montserrat;">
                                <a href="/cuibitcoin/mostrar">
                                    <button style="background-color: #90AEDA; color: black; margin-top: 20px; border-radius: 0px; width: 100%"
                                            class="btn botonfin" type="button">Mostrar alumnos
                                    </button>
                                </a>
                                <br/>
                            </div>

                            <div th:object="${usuario1}" th:if="${usuario1.getTipo()=='admin'}" class="form-group"
                                 style="text-align:center; font-family: Montserrat;">
                                <a href="/cuibitcoin/nuevoalumnoform">
                                    <button style="background-color: #90AEDA; color: black; margin-top: 20px; border-radius: 0px; width: 100%"
                                            class="btn botonfin" type="button">Añadir alumno
                                    </button>
                                </a>
                                <br/>
                            </div>

                            <div th:object="${usuario1}" th:if="${usuario1.getTipo()=='admin'}" class="form-group"
                                 style="text-align:center; font-family: Montserrat;">
                                <a href="/cuibitcoin/nuevaasignaturaform">
                                    <button style="background-color: #90AEDA; color: black; margin-top: 20px; border-radius: 0px; width: 100%"
                                            class="btn botonfin" type="button">Añadir asignatura
                                    </button>
                                </a>
                                <br/>
                            </div>

                            <div class="form-group" style="text-align:center; font-family: Montserrat;">
                                <a href="/cuibitcoin/mostrarasignaturas">
                                    <button style="background-color: #90AEDA; color: black; margin-top: 20px; border-radius: 0px; width: 100%"
                                            class="btn botonfin" type="button">Mostrar asignaturas
                                    </button>
                                </a>
                                <br/>
                            </div>

                            <div th:object="${usuario1}" th:if="${usuario1.getTipo()=='admin'}" class="form-group"
                                 style="text-align:center; font-family: Montserrat;">
                                <a href="/cuibitcoin/mostrarusuarios">
                                    <button style="background-color: #90AEDA; color: black; margin-top: 20px; border-radius: 0px; width: 100%"
                                            class="btn botonfin" type="button">Mostrar usuarios registrados
                                    </button>
                                </a>
                                <br/>
                            </div>

                            <div class="form-group" style="text-align:center; font-family: Montserrat;">
                                <a href="/cuibitcoin/cerrarsesion">
                                    <button style="background-color: #90AEDA; color: black; margin-top: 20px; border-radius: 0px; width: 100%"
                                            class="btn botonfin" type="button">Cerrar sesión
                                    </button>
                                </a>
                                <br/>
                            </div>

                        </form>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--                        <div>-->
<!--                            <a href="/cuibitcoin/mostrar">-->
<!--                                <button type="button">Mostrar Alumnos</button>-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        <div th:object="${usuario1}" th:if="${usuario1.getTipo()=='admin'}">-->
<!--                            <a href="/cuibitcoin/nuevoalumnoform">-->
<!--                                <button type="button">Añadir alumno</button>-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        <div th:object="${usuario1}" th:if="${usuario1.getTipo()=='admin'}">-->
<!--                            <a href="/cuibitcoin/nuevaasignaturaform">-->
<!--                                <button type="button">Añadir asignatura</button>-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        <div>-->
<!--                            <a href="/cuibitcoin/mostrarasignaturas">-->
<!--                                <button type="button">Mostrar asignaturas</button>-->
<!--                            </a>-->
<!--                        </div>-->