<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Insert title here</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/login.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/css/styles.css}" rel="stylesheet" id="bootstrap-css" />-->
</head>

<body>

<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" style="margin-top: 20vh" class="col-md-12">

                <form th:action="@{/cuibitcoin/usuarioenviado}" th:object="${usuarios}" method="get" id="login-form"
                      style="color: black" class="form">

                    <h1 style="color: #2f2f2f">Sistema para la gestión de un centro educativo.</h1>
                    <hr></hr>

                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        <br/>
                        <input id="nombreusuario" th:field="${usuarios.nombreusuario}" type="text" class="form-control"
                               style="background-color: black; border-radius:0px; color: #90AEDA; font-family: Montserrat"/>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <br/>
                        <input id="password" th:field="${usuarios.password}" type="text" class="form-control"
                               style="background-color: black; border-radius:0px; color: #90AEDA; font-family: Montserrat"/>
                    </div>

                    <div class="form-group" style="text-align:center; font-family: Montserrat;">
                        <input type="submit"
                               style="background-color: #90AEDA; color: black; margin-top: 20px; border-radius: 0px; width: 100%"
                               class="btn botonfin" value="Finalizar"/>
                        <br/>
                    </div>
                </form>

                <div class="form-group" style="text-align:center; font-family: Montserrat;">
                    <a href="/cuibitcoin/registro">
                        <button style="text-align: center; border: 1px solid white; background-color: black; color: white; margin-top: 20px; border-radius: 0px;"
                                class="btn botonvolver">Registro
                        </button>
                    </a>
                </div>
                <br/>
                <br/>
</body>
</html>