<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Insert title here</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/mostrar.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/css/styles.css}" rel="stylesheet" id="bootstrap-css" />-->
</head>

<script>
    function mostrarBoton() {
        const boton = document.getElementById("boton");

        console.log(boton);
    }
</script>

<body>

<nav style="background-color: black;padding: 5vh;font-family: Montserrat;border-bottom: 1px solid #004460;">
    <ul class="nav justify-content-center" ; style="font-size: 2vh">
        <li class="nav-item">
            <a style="color: white" class="nav-link" href="/cuibitcoin/inicio">Inicio</a>
        </li>
        <li class="nav-item">
            <a style="color: white" class="nav-link" href="/cuibitcoin/mostrarasignaturas">Mostrar Asignaturas</a>
        </li>
        <li class="nav-item">
            <a style="color: white" class="nav-link" href="/cuibitcoin/mostrar">Mostrar Alumnos</a>
        </li>
        <li th:object="${usuario10}" th:if="${usuario10.getTipo()=='admin'}" class="nav-item">
            <a style="color: white" class="nav-link" href="/cuibitcoin/nuevoalumnoform">Añadir Alumno</a>
        </li>
        <li th:object="${usuario10}" th:if="${usuario10.getTipo()=='admin'}" class="nav-item">
            <a style="color: white" class="nav-link" href="/cuibitcoin/nuevaasignaturaform">Añadir Asignatura</a>
        </li>
        <li class="nav-item">
            <a style="color: yellow" class="nav-link" href="#" th:object="${usuario10}"
               th:text="' | '+${usuario10.getNombreusuario()}"></a>
        </li>
    </ul>
</nav>

<div class="container" style="margin-top: 2%">

    <div style="float: left">
        <h1>Usuarios registrados.</h1>
        <hr></hr>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Contraseña</th>
            <th>Tipo de usuario</th>
            <th th:object="${usuario10}" th:if="${usuario10.getTipo()=='admin'}"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${listaUsuarios}">
                <td><span th:text="${usuario.nombreusuario}"></span></td>
                <td><span th:text="${usuario.password}"></span></td>
                <td><span th:text="${usuario.tipo}"></span></td>

                <td th:object="${usuario10}" th:if="${usuario10.getTipo()=='admin'}"><a
                        th:href="@{/cuibitcoin/borrarusuario/}+${usuario.id}">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>